.center {
  display: flex;
  padding: 5px;
  justify-content: center;
}
.btn {
  border-radius: 5px;
}
.text {
  font-size: 1em;
  font-weight: bold;
  color: #002f4b;
}
.form {
  box-shadow: 1px 1px 10px 1px rgb(2, 9, 57) inset;
}


